.container {
    background-color: rgb(248, 243, 243, 0.5);
    box-sizing: border-box;
    display: flex;
    gap: 1em;
    height: 100%;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
    padding: 2em;
    padding-inline: 15em;
    padding-top: 4em;
}

.user {
    flex-grow: 1;
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
}

.settings {
    flex-grow: 1;
    background-color: rgb(248, 243, 243, 0.5);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.one, .two {
    flex-grow: 1;
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.two p {
    color: grey;
}

.two strong {
    color: blue;
}

.one label {
    color: grey;
}

.user label {
    z-index: 1;
}

.num {
    font-weight: bold;
}

.profile-picture-wrapper {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    top: -50px;
    left: calc(50% - 50px);
    z-index: 1;
}

.profile-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    border: 5px solid white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    border: 5px solid white;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: 1;
}

.stat-row {
   display: flex; 
   justify-content: space-between;
}

.stat-row:hover, 
.stat-row label:hover {
    color: blue;
    font-weight: bold;
}

h1 {
    margin-top: 3em;
    color: blue;
    z-index: 1;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    width: 100px;

}

.actions button {
    background-color: rgb(231, 228, 228);
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    color: grey;
}

.actions button:hover {
    background-color: rgb(239, 234, 234);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

input {
    padding: 0.7em 1em;
    border: none;
    outline: none;
    border-radius: 1.5em;
    background-color: rgb(231, 228, 228);
    z-index: 1;
}

input:hover {
    background-color: rgb(239, 234, 234);
    transition: background-color 0.5s ease;
}

hr {
    height: 0.05px;
    width: 100%;
    background-color: rgb(197, 193, 193, 0.5);
}

