<form [formGroup]="profileForm" class="container">
  <section class="user">
    <h1>{{ (userData$ | async)?.displayName }}'s Profile</h1>

    <div class="profile-picture-wrapper">
      <div
        class="profile-placeholder"
        *ngIf="isEditing || !(userData$ | async)?.profilePicture"
      ></div>
      <img
        *ngIf="!isEditing && (userData$ | async)?.profilePicture"
        [src]="(userData$ | async)?.profilePicture"
        alt="Profile Picture"
      />
    </div>

    <input
      *ngIf="isEditing"
      id="profilePicture"
      formControlName="profilePicture"
      type="text"
      placeholder="Enter image URL"
    />

    <label for="firstName"><strong>First name</strong></label>
    <div *ngIf="!isEditing">{{ (userData$ | async)?.firstName }}</div>
    <input
      *ngIf="isEditing"
      id="firstName"
      formControlName="firstName"
      type="text"
    />

    <label for="lastName"><strong>Last name</strong></label>
    <div *ngIf="!isEditing">{{ (userData$ | async)?.lastName }}</div>
    <input
      *ngIf="isEditing"
      id="lastName"
      formControlName="lastName"
      type="text"
    />

    <label for="email"><strong>E-mail</strong></label>
    <div *ngIf="!isEditing">{{ (userData$ | async)?.email }}</div>
    <input *ngIf="isEditing" id="email" formControlName="email" type="text" />

    <label for="address"><strong>Address</strong></label>
    <div *ngIf="!isEditing">{{ (userData$ | async)?.address }}</div>
    <input
      *ngIf="isEditing"
      id="address"
      formControlName="address"
      type="text"
    />
  </section>

  <section class="settings">
    <section class="one">
      <div class="stat-row">
        <label for="numberOfTasks"><div>Tasks</div></label>
        <div class="num">{{ profileForm.get("numberOfTasks")?.value }}</div>
      </div>

      <hr />

      <div class="stat-row">
        <label for="numberOfPublishedTasks"><div>Published tasks</div></label>
        <div class="num">
          {{ profileForm.get("numberOfPublishedTasks")?.value }}
        </div>
      </div>

      <hr />
      <div class="stat-row">
        <label for="numberOfBoards"><div>Boards</div></label>
        <div class="num">
          {{ profileForm.get("numberOfBoards")?.value }}
        </div>
      </div>
      <hr />
      <div class="stat-row">
        <label for="numberOfTasksSaved"><div>Saved tasks</div></label>
        <div class="num">
          {{ profileForm.get("numberOfTasksSaved")?.value }}
        </div>
      </div>
      <hr />
      <div class="stat-row">
        <label for="numberOfTasksSavedByOthers"
          ><div>Tasks saved by others</div></label
        >
        <div class="num">
          {{ profileForm.get("numberOfTasksSavedByOthers")?.value }}
        </div>
      </div>
    </section>

    <section class="two">
      <strong>Last Edited Task</strong>
      <div *ngIf="lastEditedTask" class="task-box">
        <app-task
          [task]="lastEditedTask"
          [fixedLayout]="true"
          [draggable]="false"
          [readonly]="true"
          [style.width.px]="190"
          [style.height.px]="200"
        ></app-task>
      </div>
      <div *ngIf="!lastEditedTask">
        <p>No task has been edited recently.</p>
      </div>
    </section>
  </section>

  <div class="actions">
    <button *ngIf="!isEditing" (click)="toggleEdit()">Edit</button>
    <button
      *ngIf="isEditing"
      type="submit"
      (click)="saveProfile()"
      [disabled]="profileForm.invalid"
    >
      Save
    </button>
    <button *ngIf="isEditing" type="button" (click)="toggleEdit()">
      Cancel
    </button>
  </div>
</form>
