.not-found {
    text-align: center;
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
  
  .not-found h2 {
    font-size: 2rem;
    color: #ff3b30;
    margin: 0;
  }
  
  .not-found p {
    font-size: 1rem;
  }
  
  .not-found button {
    background-color: blue;
    color: white;
    padding: 0.7em 1.1em;
    font-size: 1rem;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
  }
  
  .not-found button:hover {
    background-color: rgb(4, 4, 138);
    transition: background-color 0.5s ease;
  }
  