<!-- <p>board-default works!</p> -->
<!-- [coordinates]="clickCoordinates" -->

<!-- <div>{{ tasks }}</div> -->

<!-- <div class="container" (click)="newTask()"> -->
<!-- <div class="container" (click)="onBoardClick($event)"> -->
<div
  class="container"
  (pointerdown)="onBoardPointerDown($event)"
  (pointerup)="onBoardPointerUp($event)"
  #boardElement
>
  <!-- img -->
  <div
    class="background-image"
    [style.backgroundImage]="
      backgroundImage ? 'url(' + backgroundImage + ')' : 'none'
    "
  ></div>

  <!-- img btn -->
  <button id="bgr" class="add-bg-btn" (click)="openBackgroundSelectionModal()">
    Background
  </button>

  <app-new-task
    *ngIf="showNewTaskForm"
    [board]="boardName"
    (closeModalEvent)="onCloseNewTask()"
  ></app-new-task>
  <app-task-open *ngIf="showTaskOpen" (closeModalEvent)="onCloseNewTask()">
  </app-task-open>
  <app-task
    *ngFor="let task of tasks"
    [task]="task"
    [tasks]="tasks"
    [boardElement]="boardElement"
    (resizeEvent)="onTaskResized($event)"
    (dragEndEvent)="onTaskDragged($event)"
  ></app-task>
  <div id="grid-container">
    <div
      *ngFor="let point of gridPoints"
      class="grid-point"
      [style.left.px]="point.x"
      [style.top.px]="point.y"
    ></div>
  </div>
  <button id="rev">REV</button>
</div>
