<!-- <p>board-default works!</p> -->
<!-- [coordinates]="clickCoordinates" -->

<!-- <div class="container" (click)="newTask()"> -->
<!-- <div class="container" (click)="onBoardClick($event)"> -->

<!-- <div>{{ boardName }}</div> -->
<app-new-task
  *ngIf="showNewTaskForm"
  [board]="boardName"
  (closeModalEvent)="onCloseNewTask()"
></app-new-task>

<div
  class="container"
  (pointerdown)="onBoardPointerDown($event)"
  (pointerup)="onBoardPointerUp($event)"
  #boardElement
>
  <!-- btn img ops -  -->
  <!-- <button id="img-modal" (click)="openBackgroundSelectionModal()">
    Select Background
  </button> -->

  <!-- img -->
  <div
    class="background-image"
    [style.backgroundImage]="
      backgroundImage ? 'url(' + backgroundImage + ')' : 'none'
    "
  ></div>

  <app-task-open *ngIf="showTaskOpen" (closeEvent)="onTaskClosed()">
  </app-task-open>

  <!-- img btn -->
  <button id="bgr" class="add-bg-btn" (click)="openBackgroundSelectionModal()">
    Background
  </button>

  <!-- <button
    *ngIf="backgroundImage"
    class="delete-bg-btn"
    (click)="deleteBackgroundImage()"
  >
    Delete Background
  </button> -->

  <app-task
    *ngFor="let task of tasks; let i = index"
    [ngStyle]="{ 'z-index': activeTask === task.id ? 1000 : i + 3 }"
    [ngClass]="{ 'active-task': activeTask === task.id }"
    (taskClicked)="onTaskClick($event)"
    [task]="task"
    [tasks]="tasks"
    [taskOpen]="taskOpen"
    [boardElement]="boardElement"
    (resizeEvent)="onTaskResized($event)"
    (dragEndEvent)="onTaskDragged($event)"
  ></app-task>
  <div id="grid-container">
    <div
      *ngFor="let point of gridPoints"
      class="grid-point"
      [style.left.px]="point.x"
      [style.top.px]="point.y"
    ></div>
  </div>
  <button id="rev">REV</button>

  <!-- <p class="board-name">
    Board <strong>{{ boardName }}</strong>
  </p> -->

  <p class="board-name">
    Board
    <strong *ngIf="!editMode; else editTemplate" (click)="enableEdit()">{{
      boardName
    }}</strong>
    <ng-template #editTemplate>
      <!-- <input
        type="text"
        [(ngModel)]="boardName"
        (blur)="updateBoardName()"
        (keyup.enter)="updateBoardName()"
      /> -->
      <input
        type="text"
        [value]="boardName"
        (input)="onInput($event)"
        (blur)="updateBoardName()"
        (keyup.enter)="updateBoardName()"
      />
    </ng-template>
  </p>
</div>
