<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
  <form class="reg" [formGroup]="regForm" (ngSubmit)="onReg()">
    <h4>Flexpace</h4>

    <h2>Sign up</h2>

    <!-- username -->
    <p class="field field-icon">
      <label for="name"><span></span></label>
      <input
        class="input-error"
        type="text"
        name="name"
        id="name"
        placeholder="username"
        formControlName="name"
        required
      />
    </p>

    <ng-container *ngIf="regForm.get('name')?.touched">
      <p class="form-error" *ngIf="regForm.get('name')?.errors?.['required']">
        Username is required
      </p>
      <p class="form-error" *ngIf="regForm.get('name')?.errors?.['minlength']">
        Username must be at least 5 characters long
      </p>
    </ng-container>

    <!-- email -->
    <p class="field field-icon">
      <label for="email"><span></span></label>
      <input
        [ngClass]="{
          'input-error':
            regForm.get('email')?.invalid && regForm.get('email')?.touched
        }"
        type="email"
        name="email"
        id="email"
        placeholder="e-mail address"
        required
        formControlName="email"
      />
    </p>
    <ng-container *ngIf="regForm.get('email')?.touched">
      <p class="form-error" *ngIf="regForm.get('email')?.errors?.['required']">
        Email is required
      </p>
      <p
        class="form-error"
        *ngIf="
          regForm.get('email')?.value &&
          regForm.get('email')?.errors?.['email']
        "
      >
        Please use a valid e-mail address
      </p>
    </ng-container>

    <p class="field field-icon">
      <label for="password"><span></span></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        required
        formControlName="pass"
      />
    </p>
    <ng-container *ngIf="regForm.get('pass')?.touched">
      <p class="form-error" *ngIf="regForm.get('pass')?.errors?.['required']">
        Password is required
      </p>
      <p
        class="form-error"
        *ngIf="
          regForm.get('pass')?.value &&
          regForm.get('pass')?.errors?.['minlength']
        "
      >
        Password must be at least 6 characters long
      </p>
    </ng-container>

    <p class="field field-icon">
      <label for="rePassword"><span></span></label>
      <input
        type="password"
        name="rePassword"
        id="rePassword"
        placeholder="password confirm"
        formControlName="repass"
        required
      />
    </p>
    <ng-container *ngIf="regForm.get('repass')?.touched">
      <p class="form-error" *ngIf="regForm.get('repass')?.errors?.['required']">
        Password re-type is required
      </p>
      <p
        class="form-error"
        *ngIf="
          regForm.get('repass')?.value &&
          regForm.get('repass')?.errors?.['passwordMismatch']
        "
      >
        Passwords do not match
      </p>
    </ng-container>

    <button
      class="sign"
      type="submit"
      [ngClass]="{ disabled: regForm.invalid }"
      [disabled]="regForm.invalid"
    >
      Sign up
    </button>

    <p class="text-center">
      Already have an account?
      <a routerLink="/auth/login" href="#">Sign in</a>
    </p>
    <!-- <button type="button" (click)="closeModal()">Close</button> -->
  </form>
</div>
