<!-- <p>Public Board</p> -->
<div *ngIf="toastService.showToast" class="toast">
  {{ toastService.toastMessage }}
</div>

<!-- login/reg modal -->
<app-login
  *ngIf="showLoginModal"
  (close)="closeModal()"
  (brake)="goWild()"
></app-login>
<app-register *ngIf="showRegModal" (close)="closeModal()"></app-register>

<!-- task grid -->
<app-task-open
  *ngIf="showTaskOpen"
  (closeModalEvent)="onCloseNewTask()"
></app-task-open>

<div class="task-grid">
  <app-task
    *ngFor="let task of tasks; let i = index; trackBy: trackByTaskId"
    [ngStyle]="{ 'z-index': activeTask === task.id ? 1000 : i + 3 }"
    [ngClass]="{ 'active-task': activeTask === task.id }"
    [task]="task"
    [tasks]="tasks"
    [fixedLayout]="true"
    [board]="boardName"
    [draggable]="false"
    [owner]="owner"
    [style.width.px]="190"
    [style.height.px]="240"
    (taskClicked)="onTaskClick($event)"
  ></app-task>
</div>
