

  button {
    text-decoration: none;
    list-style: none outside;
    color: rgb(0, 0, 255, 0.8);
    border: 1px solid rgb(0, 0, 255, 0.8);
    border-radius: 1.5em;
    background-color: white;
    padding: 0.4em 0.8em;
    align-self: center;
  }
  
  button:hover {
    background-color: blue;
    color: white;
    transition: background-color 0.7s ease;
  }

#text {
  font-size: 1em;
  color: blue;
  padding: 0.7em;
  padding-top: 0;
  margin-top: 0;
}

#msg {
  padding: 0.7em;
}

.error {
    border-radius: 2em;
    padding: 1em;
}

.mdc-dialog__container {
    border-radius: 2em;
    --mdc-dialog-container-shape: 16px; 

}

/*  */

/* for img ops -  */

.container {
  padding: 1em;
}

#title {
  font-size: 1em;
  color: blue;
  margin-bottom: 1em;
  padding-left: 0.8em;
}

.background-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .background-option {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 1em;
    transition: border-color 0.2s;
    opacity: 0.5;
  }
  
  .background-option:hover {
    opacity: 1;
  }

  .no-background-option {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; 
    cursor: pointer;
  }
  
  .no-background-option span {
    font-size: 1em;
    color: #555; 
    text-align: center;
  } 
  

  