<div class="modal-backdrop" (click)="closeBoardModal()"></div>

<form
  [formGroup]="newBoard"
  (ngSubmit)="newBoardSubmit(); $event.stopPropagation()"
>
  <h2>Create Board</h2>
  <label for="title">Title<span></span></label>
  <input
    type="text"
    name="title"
    id="title"
    placeholder="board title"
    required
    formControlName="title"
    minlength="3"
  />

  <!-- color -->
  <label>Select board color</label>
  <div class="color-options">
    <label *ngFor="let color of colors">
      <input
        class="color"
        type="radio"
        [value]="color"
        formControlName="color"
      />
      <span
        class="color-swatch"
        [style.backgroundColor]="color"
        [class.selected]="newBoard.get('color')?.value === color"
      ></span>
    </label>
  </div>

  <button
    class="create"
    type="submit"
    [ngClass]="{ disabled: newBoard.invalid }"
    [disabled]="newBoard.invalid"
  >
    Create
  </button>
</form>
