<app-header></app-header>
<!-- main -->

<!-- <router-outlet name="modal"></router-outlet> -->
<router-outlet></router-outlet>

<!-- <ng-container *ngIf="isAuthModalVisible">
  <div class="modal-backdrop" (click)="closeModal()"></div>
  <div class="modal-content">
    <router-outlet name="auth"></router-outlet>
  </div>
</ng-container> -->

<ng-container *ngIf="isAuthModalVisible">
  <div class="modal-backdrop" (click)="closeModal()"></div>
  <div class="modal-content">
    <ng-container [ngSwitch]="authModalType">
      <app-login *ngSwitchCase="'login'"></app-login>
      <app-register *ngSwitchCase="'register'"></app-register>
    </ng-container>
  </div>
</ng-container>
