.box {
  box-sizing: border-box;
  /* needed for @container responsiveness */
  container-type: inline-size;
  min-width: 190px;
  min-height: 140px;
  max-width: 390px;
  max-height: 390px;
  padding: 1em;
  background: rgba(191, 180, 180, 0.2);

  border-radius: 1.5em;
  color: rgb(45, 45, 107);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  cursor: move;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  position: relative;
  z-index: 10;
}

.dynamic-layout {
  position: absolute;
}

.fixed-layout {
  position: relative !important;
}

.box:hover {
  cursor: pointer;
  opacity: 1;
}

.box:hover #hid {
  opacity: 1;
}

.resize-handle {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M560-280h200v-200h-80v120H560v80ZM200-480h80v-120h120v-80H200v200Zm-40 320q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-480H160v480Zm0 0v-480 480Z"/></svg>')
      16 16,
    auto;
  border-radius: 50%;
  z-index: 2;
}

.controls {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1.3em;
  position: absolute;
  bottom: 4px;
  right: 5px;
  left: 5px;
  height: 68%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1em;
  padding: 1em;
  overflow: visible;
  backdrop-filter: blur(15px);
}

.sub-cont-colors {
  position: absolute;
  top: 0;
  left: 101%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  background-color: #c8b7b7;
  border-radius: 1.5em;
  padding: 5px;
  z-index: 1000;
  height: auto;
  width: 115px;
  overflow-x: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  outline: none;
  padding: 0.4em;
  background-color: rgb(156, 139, 139, 0.5);
  border: 0px solid blue;
}

button.set {
  color: blue;
}

button svg {
  background-color: none;
  border: none;
  fill: rgb(236, 229, 229);
  stroke: currentColor;
  width: 100%;
  height: 100%;
}

button.set svg {
  fill: blue;
}

button:hover {
  background-color: rgb(25, 56, 198, 0.1);
  transition: background-color 0.7s ease;
}

button#static {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

button#static:hover {
  background-color: rgb(41, 41, 178);
  transition: background-color 0.6s ease;
}

button#hid {
  position: absolute;
  right: 8px;
  bottom: 8px;
  opacity: 0;
  transition: opacity ease-in 0.4s;
}

button#color {
  position: relative;
}

.due-date-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 32px);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  padding: 0.5em;
  padding-inline: 1em;
  border-radius: 1.2em;
  cursor: pointer;
  color: rgb(93, 90, 90);
  font-size: 0.8em;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

.due-date-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

::ng-deep .mat-calendar {
  position: absolute;
  top: -100px;
  left: 0;
  width: 200px !important;
  height: 250px !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
}

::ng-deep .mat-calendar-up {
  position: absolute;
  top: -400px;
  left: 0;
  width: 200px !important;
  height: 250px !important;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
}

::ng-deep .mat-calendar-controls {
  width: 100% !important;
}

.material-symbols-outlined {
  color: rgb(124, 2, 14);
  font-size: 24px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  z-index: 3;
}

.hr {
  width: 100%;
  height: 0.5px;
  background-color: rgb(45, 45, 107);
  margin-bottom: 0;
  flex-shrink: 0;
}

.text {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  background-color: inherit;
  margin-bottom: 1em;
  position: relative;
  gap: 0.5em;
}

.task-content {
  width: 100%;
  flex-grow: 1;
  padding-top: 0.5em;
}

h1 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 1em;
  margin-bottom: 0;
  flex-shrink: 0;
  position: relative;
}

p {
  margin: 0;
}

@container (max-width: 200px) {
  button {
    width: 30px;
    height: 30px;
  }

  .controls {
    gap: 0.5em;
    padding: 0.6em;
  }

  .controls button:not(button.due-date-button) {
    width: 25px;
    height: 25px;
    padding: 0.2em;
  }

  .due-date-button {
    width: calc(100% - 19.2px);
    bottom: 9.6px;
    left: 9.6px;
    right: 9.6px;
  }
}

/*  */

@keyframes revealLine {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes revealVertical {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes hideVertical {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 100% 0);
  }
}

@keyframes revealHorizontal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes hideHorizontal {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 100% 0 0);
  }
}

@keyframes revealDiagonal {
  from {
    clip-path: inset(100% 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes hideDiagonal {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 0 0 100%);
  }
}

.sub-cont {
  position: absolute;
  top: 101%;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  background-color: inherit;
  border-radius: 1.5em;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 17px;
  padding-right: 11px;
  z-index: 1000;
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  clip-path: inset(0 round 1.5em);
  mask-image: radial-gradient(circle, black 99%, transparent 100%);
  z-index: 1000;
  transform: translateZ(0);
}

.hid {
  opacity: 0;
  animation: hideVertical 0.5s ease forwards;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.rev {
  opacity: 0.8;
  position: absolute;
  animation: revealVertical 0.5s ease forwards;
  visibility: visible;
  z-index: 1000;
  transform: translateZ(0);

  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hid-c {
  opacity: 0;
  animation: hideDiagonal 0.5s ease forwards;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.rev-c {
  opacity: 0.8;
  animation: revealDiagonal 0.5s ease forwards;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hid-h {
  opacity: 0;
  animation: hideHorizontal 0.5s ease forwards;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.rev-h {
  opacity: 1;
  animation: revealHorizontal 0.5s ease forwards;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.sub-task {
  z-index: 101;
  background-color: inherit;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  border-radius: 20px;
  color: rgb(63, 58, 58);
  display: flex;
  justify-content: space-between;
}

.add-sub {
  display: flex;
}

#sub-task-cre {
  padding: 0.4em;
  overflow: visible;
  display: flex;
  flex-shrink: 0;
}

.sub-input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.5em;
  background-color: inherit;
  padding: 0.5em 0.7em;
}

.sub-task-cre-input {
  top: 0;
  left: 20%;
  display: flex;
  flex-grow: 1;
  background-color: rgb(247, 247, 247, 0.4);
  border-radius: 1.5em;
  padding: 10px;
  height: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sub-task:hover {
  background-color: rgba(220, 217, 217, 0.3);
}

.sub-cont button {
  background-color: rgba(223, 155, 140, 0.2);
  padding: 0.5em;
}

.sub-cont button:hover {
  background-color: rgba(223, 155, 140, 0.6);
}

.sub-cont div svg {
  fill: white;
  background-color: none;
}

.sub-cont div p {
  margin-block: auto;
  text-align: center;
}

.rev-btn {
  position: relative;
  align-self: flex-start;
}

#rev {
  position: absolute;
  bottom: -10px;
  transition: transform 0.3s ease;
  margin: 0;
  color: grey;
  background-color: inherit;
  border-radius: 50%;
  z-index: 100;
}

.found {
  color: rgb(255, 255, 255);
}

#rev:hover {
  color: rgb(182, 179, 179);
}

.rotate {
  transform: rotate(180deg);
}

.sub-cont::-webkit-scrollbar {
  width: 6px;
}

.sub-cont::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 0 1.5em 1.5em 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sub-cont::-webkit-scrollbar-track:hover {
  background-color: inherit;
}

.sub-cont::-webkit-scrollbar-thumb {
  background-color: rgba(234, 224, 224, 0.5);
  border-radius: 10px;
}

.sub-cont::-webkit-scrollbar-thumb:hover {
  background-color: rgba(234, 224, 224, 0.8);
}

.date {
  z-index: 5;
  color: black;
}

.board-name,
.owner-name {
  font-size: 0.7em;
  color: grey;
  align-self: flex-start;
  border: 1px solid grey;
  border-radius: 1em;
  padding: 0.4em 0.7em;
}

.task.readonly {
  pointer-events: none;
  opacity: 1;
  cursor: default;
}
