.box {
    box-sizing: border-box;
    /* needed for @container responsiveness */
    container-type: inline-size;
    min-width: 190px;
    min-height: 140px;
    max-width: 390px;
    max-height: 390px;
    padding: 1em;
    /* background-color: #6c5ce7; */
    background: rgba(191, 180, 180, 0.2);

    border-radius: 1.5em;
    color: rgb(45, 45, 107);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    /* position: absolute; */
    cursor: move;   
    /* opacity below 1 shows flicker when drag -  */
    /* opacity: 0.8; */
    /* box-shadow: rgba(18, 6, 6, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: background-color 0.2s ease, opacity 0.2s ease;
    backdrop-filter: blur(15px);

}

.dynamic-layout {
    position: absolute;
  }
  
  .fixed-layout {

    position: relative !important; 
  }

.box:hover {
    /* background-color: rgb(223, 120, 207); */
    cursor: pointer;
    opacity: 1;
}

.box:hover #hid {
    opacity: 1;
}

.resize-handle {
    width: 10px;
    height: 10px;
    /* background-color: #6c5ce7; */
    position: absolute;
    bottom: 3px;
    right: 3px;
    /* cursor: se-resize; */
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M560-280h200v-200h-80v120H560v80ZM200-480h80v-120h120v-80H200v200Zm-40 320q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-480H160v480Zm0 0v-480 480Z"/></svg>') 16 16, auto;
    /* cursor: url('data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20height=%2224px%22%20viewBox=%220%20-960%20960%20960%22%20width=%2224px%22%20fill=%22%235f6368%22%3E%3Cpath%20d=%22M760-600v-160H600v-80h240v240h-80ZM120-120v-240h80v160h160v80H120Zm0-320v-80h80v80h-80Zm0-160v-80h80v80h-80Zm0-160v-80h80v80h-80Zm160%200v-80h80v80h-80Zm160%20640v-80h80v80h-80Zm0-640v-80h80v80h-80Zm160%20640v-80h80v80h-80Zm160%200v-80h80v80h-80Zm0-160v-80h80v80h-80Zm0-160v-80h80v80h-80Z%22/%3E%3C/svg%3E') 16 16, auto; */
    /* cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23FFFFFF"><path d="M570-290h180v-180h-60v120H570v60ZM210-490h60v-120h120v-60H210v180Zm-37.69 310Q142-180 121-201q-21-21-21-51.31v-455.38Q100-738 121-759q21-21 51.31-21h615.38Q818-780 839-759q21 21 21 51.31v455.38Q860-222 839-201q-21 21-51.31 21H172.31Zm0-60h615.38q4.62 0 8.46-3.85 3.85-3.84 3.85-8.46v-455.38q0-4.62-3.85-8.46-3.84-3.85-8.46-3.85H172.31q-4.62 0-8.46 3.85-3.85 3.84-3.85 8.46v455.38q0 4.62 3.85 8.46 3.84 3.85 8.46 3.85ZM160-240v-480 480Z"/></svg>') 12 12, auto; */

    border-radius: 50%;
    z-index: 2;
}

.controls {
    box-sizing: border-box;
    /* background-color: white; */
    background-color: rgba(255, 255, 255, 0.6);
    /* background: rgba(0, 0, 0, 0.5); */

    /* opacity: 0.6; */
    border-radius: 1.3em;
    position: absolute;
    bottom: 4px;
    right: 5px;
    left: 5px;
    /* width: 90%; */
    height: 68%;
    /* display: none; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1em;
    padding: 1em;
    /* z-index: 100; */
    overflow: visible;
    backdrop-filter: blur(15px);
}

.sub-cont-colors {
    position: absolute; 
    top: 0; 
    left: 101%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #c8b7b7;
    /* border: 1px solid #ddd; */
    border-radius: 1.5em;
    /* box-sizing: border-box; */
    padding: 5px;
    /* padding-left: 17px;
    padding-right: 11px; */
    z-index: 1000; 
    /* min-height: 100px; */
    height: auto;    
    width: 115px;
    overflow-x: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    /* clip-path: inset(0 round 1em);  */
}

button {
    width: 35px;    
    height: 35px;
    /* margin-right: 1em; */
    /* border: 1px solid white; */
    border-radius: 50%;
    outline: none;
    /* opacity: 1; */
    padding: 0.6em;
    background-color: rgb(156, 139, 139, 0.5);
    border: 0px solid blue;
}

button.set {
    /* background-color: rgba(148, 156, 139, 0.8); */
    color: blue;
}

button svg {
    background-color: none;
    border: none;
    fill: rgb(236, 229, 229);
    stroke: currentColor;
    width: 100%;
    height: 100%;
}

button.set svg {
    fill: blue;
}

/* button svg:hover {
    background-color: rgb(223, 120, 207);
    cursor: pointer;
    opacity: 1;
} */

button:hover {
    background-color: rgb(25, 56, 198, 0.1);
    transition: background-color 0.7s ease;
}

button:active {
    background-color: rgba(96, 44, 186, 0.8);
    transition: background-color 0.5s ease;
}

button#static {
    position: absolute;
    right: 5px;
    top: 5px;
}

button#static:hover {
    background-color: rgb(41, 41, 178);
    transition: background-color 0.6s ease;
}

button#hid {
    position: absolute;
    right: 8px;
    bottom: 8px;
    opacity: 0;
    transition: opacity ease-in 0.4s;

}

button#color {
    position: relative;
}

.due-date-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 0.5em;
    padding-inline: 1em;
    border-radius: 1.2em;
    cursor: pointer;
    color: rgb(93, 90, 90);
    font-size: 0.8em;
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
}
  
.due-date-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

::ng-deep .mat-calendar {
    position: absolute;
    top: -100px;
    left: 0;
    /* right: 5px; */
    width: 200px !important;
    height: 250px !important;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    /* backdrop-filter: blur(15px); */
}

::ng-deep .mat-calendar-up {
    position: absolute;
    top: -400px;
    left: 0;
    /* right: 5px; */
    width: 200px !important;
    height: 250px !important;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    /* backdrop-filter: blur(15px); */
}

::ng-deep .mat-calendar-controls {
    width: 100% !important;
}

.material-symbols-outlined {
    /* border: 1px solid black; */
    /* background-color: green; */
    color: rgb(124, 2, 14);
    font-size: 24px;
    /* width: 5px; */
}

.btns {
    /* padding: 1em; */
    /* padding-right: 2em; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    z-index: 3;
}

.hr {
    width: 100%;
    height: 0.5px;
    background-color: rgb(45, 45, 107);
    margin-bottom: 0;
    /* z-index: 3; */
    flex-shrink: 0;
}

/* .text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    background-color: inherit;
    margin-bottom: 1em;
} */

.text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
    overflow: hidden;
    background-color: inherit;
    margin-bottom: 1em;
    position: relative; 
    /* padding: 1em; */
    gap: 0.5em; 
}

.task-content {
    width: 100%;
    flex-grow: 1; 
    /* overflow-y: auto;  */
    padding-top: 0.5em; 
}

h1 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 1em;
    margin-bottom: 0;
    flex-shrink: 0;
    position: relative;
}

p {
    margin: 0;
}

@container (max-width: 200px) {
    button {
        width: 30px;
        height: 30px;
    }

    .controls {
        gap: 0.5em;
        padding: 0.6em;
    }

    .controls button:not(button.due-date-button) {
        width: 25px;
        height: 25px;
        padding: 0.2em;
    }

    .due-date-button {
        width: calc(100% - 19.2px);
        bottom: 9.6px;
        left: 9.6px;
        right: 9.6px;
    }
}

/* @container (max-height: 200px) {
    .controls {
        overflow-y: auto;
    }
} */

/*  */

@keyframes revealLine {
    from {
        /* clip-path - how much is hidden;  */
        /* values - top right bottom left */
      clip-path: inset(0 100% 0 0); 
    }
    to {
      clip-path: inset(0 0 0 0); 
    }
  }
  
@keyframes revealVertical {
    from {
      clip-path: inset(0 0 100% 0); 
    }
    to {
      clip-path: inset(0 0 0 0); 
    }
  }

@keyframes hideVertical {
    from {
        clip-path: inset(0 0 0 0); 
    }
    to {
        clip-path: inset(0 0 100% 0); 
    }
  }

  @keyframes revealHorizontal {
    from {
        clip-path: inset(0 100% 0 0); 
    }
    to {
        clip-path: inset(0 0 0 0); 
    }
  }

  @keyframes hideHorizontal {
    from {
        clip-path: inset(0 0 0 0); 
    }
    to {
        clip-path: inset(0 100% 0 0); 
    }
  }

  @keyframes revealDiagonal {
    from {
        clip-path: inset(100% 0 0 100%); 

    }
    to {
        clip-path: inset(0 0 0 0); 
    }
}

@keyframes hideDiagonal {
    from {
        clip-path: inset(0 0 0 0); 
    }
    to {
        clip-path: inset(100% 0 0 100%); 
    }
}



  .sub-cont {
    position: absolute;
    top: 101%; 
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    background-color: inherit; 
    border-radius: 1.5em;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 17px;
    padding-right: 11px;
    z-index: 100; 
    /* min-height: 100px; */
    max-height: 200px; 
    width: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
    clip-path: inset(0 round 1.5em); 
    mask-image: radial-gradient(circle, black 99%, transparent 100%);
}

  .hid {
    opacity: 0;
    animation: hideVertical 0.5s ease forwards; 
    visibility: hidden;
    /* display: none; */
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .rev {
    opacity: 0.8;
    animation: revealVertical 0.5s ease forwards; 
    visibility: visible;
    /* display: flex; */
    /* background-color: lightblue;  */
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .hid-c {
    opacity: 0;
    animation: hideDiagonal 0.5s ease forwards; 
    visibility: hidden;
    /* display: none; */
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .rev-c {
    opacity: 0.8;
    animation: revealDiagonal 0.5s ease forwards; 
    visibility: visible;
    /* display: flex; */
    /* background-color: lightblue;  */
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .hid-h {
    opacity: 0;
    animation: hideHorizontal 0.5s ease forwards; 
    visibility: hidden;
    /* display: none; */
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .rev-h {
    opacity: 1;
    animation: revealHorizontal 0.5s ease forwards; 
    visibility: visible;
    /* display: flex; */
    /* background-color: lightblue;  */
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }


.sub-task {
    /* position: relative; */
    z-index: 101;
    background-color: inherit; 
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px; 
    border-radius: 20px; 
    /* border: 1px solid #ddd;  */
    color: rgb(63, 58, 58);
    display: flex;
    justify-content: space-between;
}

.add-sub {
    display: flex;
    /* position: relative; */
}

#sub-task-cre {
    padding: 0.4em;
    overflow: visible;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

/* #sub-input {
    pointer-events: auto;
    z-index: 1000;
    position: relative;
  } */
  
  .sub-input {
    /* background-color: red; */
    /* position: relative; */
    /* z-index: 1000; */
    width: 100%;
    outline: none;
    border-radius: 0.5em;
    background-color: rgb(247, 247, 247, 0.7);
    padding: 0.5em 0.7em;
  }
  

.sub-task-cre-input {
    /* position: absolute;  */
    top: 0; 
    left: 20%;
    display: flex;
    background-color: rgb(247, 247, 247, 0.4);
    /* border: 1px solid #ddd; */
    border-radius: 1.5em;
    /* box-sizing: border-box; */
    padding: 10px;
    /* padding-left: 17px;
    padding-right: 11px; */
    /* z-index: 2000;  */
    /* min-height: 100px; */
    width: 100%;
    height: 20px;    
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
}
  
  /* .sub-task p[contentEditable="true"] {
    outline: 1px solid #ccc;
    padding: 2px;
  } */
  

/* .sub-cont:hover {
    background-color: #7b6fd8;
} */

.sub-task:hover {
    background-color:rgba(220, 217, 217, 0.3); 
    /* opacity: 0.4; */
}

.sub-cont button {
    background-color:rgba(223, 155, 140, 0.2); 
    padding: 0.5em;
}

.sub-cont button:hover {
    background-color:rgba(223, 155, 140, 0.6); 
}

.sub-cont div svg {
    fill: white;
    background-color:none; 

    /* stroke: rgb(5, 5, 5); */
    /* padding: 0; */
}

.sub-cont div svg:hover {
    /* stroke: rgb(5, 5, 5); */
    /* padding: 0; */
}

.sub-cont div p {
    margin-block: auto;
    text-align: center;
}

.rev-btn {
    position: relative;
    align-self: flex-start;
}

#rev {
    position: absolute;
    bottom: -10px; 
    /* left: 5px; */
    /* transform: translateX(-50%); */
    transition: transform 0.3s ease;
    margin: 0;
    color: grey;
    background-color: inherit;
    border-radius: 50%;
    z-index: 100;
}

.found {
    color: rgb(255, 255, 255);

}

#rev:hover {
    color: rgb(182, 179, 179);
    /* background-color: blue; */
}

/* .rev-btn {
    display: flex;
}

.rev-btn span {
    justify-content: flex-start;
} */

.rotate {
    transform: rotate(180deg)
}

.sub-cont::-webkit-scrollbar {
    width: 6px; 
}

.sub-cont::-webkit-scrollbar-track {
    background: inherit; 
    border-radius: 0 1.5em 1.5em 0;
    padding-top: 50px;  
    padding-bottom: 50px; 
}

.sub-cont::-webkit-scrollbar-track:hover {
    background-color: inherit;
}

.sub-cont::-webkit-scrollbar-thumb {
    background-color: rgba(234, 224, 224, 0.5); ;
    /* opacity: 0.5; */
    border-radius: 10px;
    /* border: 2px solid inherit;  */
}

.sub-cont::-webkit-scrollbar-thumb:hover {
    background-color: rgba(234, 224, 224, 0.8); ;
}

.date {
    z-index: 5;
    color: black;
}

.board-name, .owner-name {
    font-size: 0.7em;
    color: grey;
    align-self: flex-start;
    border: 1px solid grey;
    border-radius: 1em;
    padding: 0.4em 0.7em;
}

.task.readonly {
    pointer-events: none; 
    opacity: 1; 
    cursor: default; 
  }





  