html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Fira Sans, sans-serif;
}

* {
  font-family: "Fira Sans", sans-serif;
}

:root {
  --task-color: #ffffff;
}

/* assign modal size here -  */
.modal {
  background-color: var(--task-color);
  border-radius: 1.5em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* works when applied in browser, not here -  */
.mdc-dialog__surface {
  background-color: red;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  box-shadow: none;
}

/* affecting the error modal -  */
.mat-mdc-dialog-surface {
  background-color: var(--task-color);
}

/* scrollbar */

.mat-mdc-dialog-surface::-webkit-scrollbar {
  background-color: var(--task-color);
}

.mat-mdc-dialog-surface::-webkit-scrollbar-track {
  background-color: var(--task-color);
}

.mat-mdc-dialog-surface::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
}

.mat-mdc-dialog-surface {
  scrollbar-color: rgba(255, 255, 255, 0.5) var(--task-color);
  scrollbar-width: thin;
}

.cdk-overlay-backdrop {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4) !important;
}

/* only actually affecting err mod -  */
.mdc-dialog__container {
  border-radius: 2em;
  --mdc-dialog-container-shape: 16px;
  --mdc-dialog-container-fill-color: #994848;
  background-color: var(--mdc-dialog-container-fill-color) !important;
}
